/*
Management API

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package management

import (
	"context"
	_context "context"
	_nethttp "net/http"
	"net/url"
	"strings"

	"github.com/adyen/adyen-go-api-library/v7/src/common"
)

// AccountCompanyLevelApi AccountCompanyLevelApi service
type AccountCompanyLevelApi common.Service

type AccountCompanyLevelApiGetCompanyAccountConfig struct {
	ctx       context.Context
	companyId string
}

/*
GetCompanyAccount Get a company account

Returns the company account specified in the path. Your API credential must have access to the company account.

To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions):
* Management API—Account read

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param companyId The unique identifier of the company account.
 @return AccountCompanyLevelApiGetCompanyAccountConfig
*/
func (a *AccountCompanyLevelApi) GetCompanyAccountConfig(ctx context.Context, companyId string) AccountCompanyLevelApiGetCompanyAccountConfig {
	return AccountCompanyLevelApiGetCompanyAccountConfig{
		ctx:       ctx,
		companyId: companyId,
	}
}

/*
Get a company account
Returns the company account specified in the path. Your API credential must have access to the company account.   To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Account read
 * @param companyId The unique identifier of the company account.
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return Company
*/

func (a *AccountCompanyLevelApi) GetCompanyAccount(r AccountCompanyLevelApiGetCompanyAccountConfig) (Company, *_nethttp.Response, error) {
	res := &Company{}
	path := "/companies/{companyId}"
	path = strings.Replace(path, "{"+"companyId"+"}", url.PathEscape(common.ParameterValueToString(r.companyId, "companyId")), -1)
	httpRes, err := common.CreateHTTPRequest(a.Client, _nethttp.MethodGet, nil, res, a.BasePath()+path, []_context.Context{r.ctx})
	return *res, httpRes, err
}

type AccountCompanyLevelApiListCompanyAccountsConfig struct {
	ctx        context.Context
	pageNumber *int32
	pageSize   *int32
}

// The number of the page to fetch.
func (r AccountCompanyLevelApiListCompanyAccountsConfig) PageNumber(pageNumber int32) AccountCompanyLevelApiListCompanyAccountsConfig {
	r.pageNumber = &pageNumber
	return r
}

// The number of items to have on a page, maximum 100. The default is 10 items on a page.
func (r AccountCompanyLevelApiListCompanyAccountsConfig) PageSize(pageSize int32) AccountCompanyLevelApiListCompanyAccountsConfig {
	r.pageSize = &pageSize
	return r
}

/*
ListCompanyAccounts Get a list of company accounts

Returns the list of company accounts that your API credential has access to. The list is grouped into pages as defined by the query parameters.

To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions):

* Management API—Account read

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AccountCompanyLevelApiListCompanyAccountsConfig
*/
func (a *AccountCompanyLevelApi) ListCompanyAccountsConfig(ctx context.Context) AccountCompanyLevelApiListCompanyAccountsConfig {
	return AccountCompanyLevelApiListCompanyAccountsConfig{
		ctx: ctx,
	}
}

/*
Get a list of company accounts
Returns the list of company accounts that your API credential has access to. The list is grouped into pages as defined by the query parameters.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions):  * Management API—Account read
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ListCompanyResponse
*/

func (a *AccountCompanyLevelApi) ListCompanyAccounts(r AccountCompanyLevelApiListCompanyAccountsConfig) (ListCompanyResponse, *_nethttp.Response, error) {
	res := &ListCompanyResponse{}
	path := "/companies"
	queryString := url.Values{}
	if r.pageNumber != nil {
		common.ParameterAddToQuery(queryString, "pageNumber", r.pageNumber, "")
	}
	if r.pageSize != nil {
		common.ParameterAddToQuery(queryString, "pageSize", r.pageSize, "")
	}
	httpRes, err := common.CreateHTTPRequest(a.Client, _nethttp.MethodGet, nil, res, a.BasePath()+path+"?"+queryString.Encode(), []_context.Context{r.ctx})
	return *res, httpRes, err
}

type AccountCompanyLevelApiListMerchantAccountsConfig struct {
	ctx        context.Context
	companyId  string
	pageNumber *int32
	pageSize   *int32
}

// The number of the page to fetch.
func (r AccountCompanyLevelApiListMerchantAccountsConfig) PageNumber(pageNumber int32) AccountCompanyLevelApiListMerchantAccountsConfig {
	r.pageNumber = &pageNumber
	return r
}

// The number of items to have on a page, maximum 100. The default is 10 items on a page.
func (r AccountCompanyLevelApiListMerchantAccountsConfig) PageSize(pageSize int32) AccountCompanyLevelApiListMerchantAccountsConfig {
	r.pageSize = &pageSize
	return r
}

/*
ListMerchantAccounts Get a list of merchant accounts

Returns the list of merchant accounts under the company account specified in the path. The list only includes merchant accounts that your API credential has access to. The list is grouped into pages as defined by the query parameters.

To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions):
* Management API—Account read

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param companyId The unique identifier of the company account.
 @return AccountCompanyLevelApiListMerchantAccountsConfig
*/
func (a *AccountCompanyLevelApi) ListMerchantAccountsConfig(ctx context.Context, companyId string) AccountCompanyLevelApiListMerchantAccountsConfig {
	return AccountCompanyLevelApiListMerchantAccountsConfig{
		ctx:       ctx,
		companyId: companyId,
	}
}

/*
Get a list of merchant accounts
Returns the list of merchant accounts under the company account specified in the path. The list only includes merchant accounts that your API credential has access to. The list is grouped into pages as defined by the query parameters.   To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Account read
 * @param companyId The unique identifier of the company account.
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ListMerchantResponse
*/

func (a *AccountCompanyLevelApi) ListMerchantAccounts(r AccountCompanyLevelApiListMerchantAccountsConfig) (ListMerchantResponse, *_nethttp.Response, error) {
	res := &ListMerchantResponse{}
	path := "/companies/{companyId}/merchants"
	path = strings.Replace(path, "{"+"companyId"+"}", url.PathEscape(common.ParameterValueToString(r.companyId, "companyId")), -1)
	queryString := url.Values{}
	if r.pageNumber != nil {
		common.ParameterAddToQuery(queryString, "pageNumber", r.pageNumber, "")
	}
	if r.pageSize != nil {
		common.ParameterAddToQuery(queryString, "pageSize", r.pageSize, "")
	}
	httpRes, err := common.CreateHTTPRequest(a.Client, _nethttp.MethodGet, nil, res, a.BasePath()+path+"?"+queryString.Encode(), []_context.Context{r.ctx})
	return *res, httpRes, err
}
