/*
Management API

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package management

import (
	"context"
	_context "context"
	_nethttp "net/http"
	"net/url"
	"strings"

	"github.com/adyen/adyen-go-api-library/v6/src/common"
)

// TerminalSettingsMerchantLevelApi TerminalSettingsMerchantLevelApi service
type TerminalSettingsMerchantLevelApi common.Service

type TerminalSettingsMerchantLevelApiGetTerminalLogoConfig struct {
	ctx        context.Context
	merchantId string
	model      *string
}

// The terminal model. Possible values: E355, VX675WIFIBT, VX680, VX690, VX700, VX820, M400, MX925, P400Plus, UX300, UX410, V200cPlus, V240mPlus, V400cPlus, V400m, e280, e285, e285p, S1E, S1EL, S1F2, S1L, S1U, S7T.
func (r TerminalSettingsMerchantLevelApiGetTerminalLogoConfig) Model(model string) TerminalSettingsMerchantLevelApiGetTerminalLogoConfig {
	r.model = &model
	return r
}

/*
GetTerminalLogo Get the terminal logo

Returns the logo that is configured for a specific payment terminal model at the merchant account identified in the path.
The logo is returned as a Base64-encoded string. You need to Base64-decode the string to get the actual image file.
This logo applies to all terminals of the specified model under the merchant account, unless a different logo is configured at a lower level (store or individual terminal).

To make this request, your API credential must have one of the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions):
* Management API—Terminal settings read
* Management API—Terminal settings read and write

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param merchantId The unique identifier of the merchant account.
 @return TerminalSettingsMerchantLevelApiGetTerminalLogoConfig
*/
func (a *TerminalSettingsMerchantLevelApi) GetTerminalLogoConfig(ctx context.Context, merchantId string) TerminalSettingsMerchantLevelApiGetTerminalLogoConfig {
	return TerminalSettingsMerchantLevelApiGetTerminalLogoConfig{
		ctx:        ctx,
		merchantId: merchantId,
	}
}

/*
Get the terminal logo
Returns the logo that is configured for a specific payment terminal model at the merchant account identified in the path.  The logo is returned as a Base64-encoded string. You need to Base64-decode the string to get the actual image file.  This logo applies to all terminals of the specified model under the merchant account, unless a different logo is configured at a lower level (store or individual terminal).  To make this request, your API credential must have one of the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Terminal settings read * Management API—Terminal settings read and write
 * @param merchantId The unique identifier of the merchant account.
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return Logo
*/

func (a *TerminalSettingsMerchantLevelApi) GetTerminalLogo(r TerminalSettingsMerchantLevelApiGetTerminalLogoConfig) (Logo, *_nethttp.Response, error) {
	res := &Logo{}
	path := "/merchants/{merchantId}/terminalLogos"
	path = strings.Replace(path, "{"+"merchantId"+"}", url.PathEscape(common.ParameterValueToString(r.merchantId, "merchantId")), -1)
	queryString := url.Values{}
	if r.model != nil {
		common.ParameterAddToQuery(queryString, "model", r.model, "")
	}
	httpRes, err := common.CreateHTTPRequest(a.Client, _nethttp.MethodGet, nil, res, a.BasePath()+path+"?"+queryString.Encode(), []_context.Context{r.ctx})
	return *res, httpRes, err
}

type TerminalSettingsMerchantLevelApiGetTerminalSettingsConfig struct {
	ctx        context.Context
	merchantId string
}

/*
GetTerminalSettings Get terminal settings

Returns the payment terminal settings that are configured for the merchant account identified in the path. These settings apply to all terminals under the merchant account unless different values are configured at a lower level (store or individual terminal).

To make this request, your API credential must have one of the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions):
* Management API—Terminal settings read
* Management API—Terminal settings read and write

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param merchantId The unique identifier of the merchant account.
 @return TerminalSettingsMerchantLevelApiGetTerminalSettingsConfig
*/
func (a *TerminalSettingsMerchantLevelApi) GetTerminalSettingsConfig(ctx context.Context, merchantId string) TerminalSettingsMerchantLevelApiGetTerminalSettingsConfig {
	return TerminalSettingsMerchantLevelApiGetTerminalSettingsConfig{
		ctx:        ctx,
		merchantId: merchantId,
	}
}

/*
Get terminal settings
Returns the payment terminal settings that are configured for the merchant account identified in the path. These settings apply to all terminals under the merchant account unless different values are configured at a lower level (store or individual terminal).  To make this request, your API credential must have one of the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Terminal settings read * Management API—Terminal settings read and write
 * @param merchantId The unique identifier of the merchant account.
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return TerminalSettings
*/

func (a *TerminalSettingsMerchantLevelApi) GetTerminalSettings(r TerminalSettingsMerchantLevelApiGetTerminalSettingsConfig) (TerminalSettings, *_nethttp.Response, error) {
	res := &TerminalSettings{}
	path := "/merchants/{merchantId}/terminalSettings"
	path = strings.Replace(path, "{"+"merchantId"+"}", url.PathEscape(common.ParameterValueToString(r.merchantId, "merchantId")), -1)
	httpRes, err := common.CreateHTTPRequest(a.Client, _nethttp.MethodGet, nil, res, a.BasePath()+path, []_context.Context{r.ctx})
	return *res, httpRes, err
}

type TerminalSettingsMerchantLevelApiUpdateTerminalLogoConfig struct {
	ctx        context.Context
	merchantId string
	model      *string
	logo       *Logo
}

// The terminal model. Allowed values: E355, VX675WIFIBT, VX680, VX690, VX700, VX820, M400, MX925, P400Plus, UX300, UX410, V200cPlus, V240mPlus, V400cPlus, V400m, e280, e285, e285p, S1E, S1EL, S1F2, S1L, S1U, S7T.
func (r TerminalSettingsMerchantLevelApiUpdateTerminalLogoConfig) Model(model string) TerminalSettingsMerchantLevelApiUpdateTerminalLogoConfig {
	r.model = &model
	return r
}

func (r TerminalSettingsMerchantLevelApiUpdateTerminalLogoConfig) Logo(logo Logo) TerminalSettingsMerchantLevelApiUpdateTerminalLogoConfig {
	r.logo = &logo
	return r
}

/*
UpdateTerminalLogo Update the terminal logo

Updates the logo for a specific payment terminal model at the merchant account identified in the path. You can update the logo for only one terminal model at a time.
This logo applies to all terminals of the specified model under the merchant account, unless a different logo is configured at a lower level (store or individual terminal).

* To change the logo, specify the image file as a Base64-encoded string.
* To restore the logo inherited from the company account, specify an empty logo value.

To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions):
* Management API—Terminal settings read and write

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param merchantId The unique identifier of the merchant account.
 @return TerminalSettingsMerchantLevelApiUpdateTerminalLogoConfig
*/
func (a *TerminalSettingsMerchantLevelApi) UpdateTerminalLogoConfig(ctx context.Context, merchantId string) TerminalSettingsMerchantLevelApiUpdateTerminalLogoConfig {
	return TerminalSettingsMerchantLevelApiUpdateTerminalLogoConfig{
		ctx:        ctx,
		merchantId: merchantId,
	}
}

/*
Update the terminal logo
Updates the logo for a specific payment terminal model at the merchant account identified in the path. You can update the logo for only one terminal model at a time.  This logo applies to all terminals of the specified model under the merchant account, unless a different logo is configured at a lower level (store or individual terminal).  * To change the logo, specify the image file as a Base64-encoded string. * To restore the logo inherited from the company account, specify an empty logo value.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Terminal settings read and write
 * @param merchantId The unique identifier of the merchant account.
 * @param req Logo - reference of Logo).
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return Logo
*/

func (a *TerminalSettingsMerchantLevelApi) UpdateTerminalLogo(r TerminalSettingsMerchantLevelApiUpdateTerminalLogoConfig) (Logo, *_nethttp.Response, error) {
	res := &Logo{}
	path := "/merchants/{merchantId}/terminalLogos"
	path = strings.Replace(path, "{"+"merchantId"+"}", url.PathEscape(common.ParameterValueToString(r.merchantId, "merchantId")), -1)
	queryString := url.Values{}
	if r.model != nil {
		common.ParameterAddToQuery(queryString, "model", r.model, "")
	}
	httpRes, err := common.CreateHTTPRequest(a.Client, _nethttp.MethodPatch, r.logo, res, a.BasePath()+path+"?"+queryString.Encode(), []_context.Context{r.ctx})
	return *res, httpRes, err
}

type TerminalSettingsMerchantLevelApiUpdateTerminalSettingsConfig struct {
	ctx              context.Context
	merchantId       string
	terminalSettings *TerminalSettings
}

func (r TerminalSettingsMerchantLevelApiUpdateTerminalSettingsConfig) TerminalSettings(terminalSettings TerminalSettings) TerminalSettingsMerchantLevelApiUpdateTerminalSettingsConfig {
	r.terminalSettings = &terminalSettings
	return r
}

/*
UpdateTerminalSettings Update terminal settings

Updates payment terminal settings for the merchant account identified in the path.
These settings apply to all terminals under the merchant account, unless different values are configured at a lower level (store or individual terminal).

* To change a parameter value, include the full object that contains the parameter, even if you don't want to change all parameters in the object.
* To restore a parameter value inherited from a higher level, include the full object that contains the parameter, and specify an empty value for the parameter or omit the parameter.
* Objects that are not included in the request are not updated.

To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions):
* Management API—Terminal settings read and write

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param merchantId The unique identifier of the merchant account.
 @return TerminalSettingsMerchantLevelApiUpdateTerminalSettingsConfig
*/
func (a *TerminalSettingsMerchantLevelApi) UpdateTerminalSettingsConfig(ctx context.Context, merchantId string) TerminalSettingsMerchantLevelApiUpdateTerminalSettingsConfig {
	return TerminalSettingsMerchantLevelApiUpdateTerminalSettingsConfig{
		ctx:        ctx,
		merchantId: merchantId,
	}
}

/*
Update terminal settings
Updates payment terminal settings for the merchant account identified in the path. These settings apply to all terminals under the merchant account, unless different values are configured at a lower level (store or individual terminal).  * To change a parameter value, include the full object that contains the parameter, even if you don&#39;t want to change all parameters in the object. * To restore a parameter value inherited from a higher level, include the full object that contains the parameter, and specify an empty value for the parameter or omit the parameter. * Objects that are not included in the request are not updated.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Terminal settings read and write
 * @param merchantId The unique identifier of the merchant account.
 * @param req TerminalSettings - reference of TerminalSettings).
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return TerminalSettings
*/

func (a *TerminalSettingsMerchantLevelApi) UpdateTerminalSettings(r TerminalSettingsMerchantLevelApiUpdateTerminalSettingsConfig) (TerminalSettings, *_nethttp.Response, error) {
	res := &TerminalSettings{}
	path := "/merchants/{merchantId}/terminalSettings"
	path = strings.Replace(path, "{"+"merchantId"+"}", url.PathEscape(common.ParameterValueToString(r.merchantId, "merchantId")), -1)
	httpRes, err := common.CreateHTTPRequest(a.Client, _nethttp.MethodPatch, r.terminalSettings, res, a.BasePath()+path, []_context.Context{r.ctx})
	return *res, httpRes, err
}
