/*
Configuration API

API version: 2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package balanceplatform

import (
	_context "context"
	_nethttp "net/http"
	"strings"

	"github.com/adyen/adyen-go-api-library/v6/src/common"
)

// GrantAccountsApi GrantAccountsApi service
type GrantAccountsApi common.Service

/*
Get a grant account
Returns the details of the [grant account](https://docs.adyen.com/marketplaces-and-platforms/capital#grant-account).
 * @param id The unique identifier of the grant account.
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return CapitalGrantAccount
*/
func (a GrantAccountsApi) GetGrantAccount(id *string, ctxs ..._context.Context) (CapitalGrantAccount, *_nethttp.Response, error) {
	res := &CapitalGrantAccount{}
	path := "/grantAccounts/{id}"
	path = strings.ReplaceAll(path, "{"+"id"+"}", *id)
	httpRes, err := a.Client.MakeHTTPGetRequest(res, a.BasePath()+path, ctxs...)
	return *res, httpRes, err
}
