/*
Configuration API

API version: 2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package balanceplatform

import (
	"context"
    "net/http"
    "net/url"
    "strings"
    "github.com/adyen/adyen-go-api-library/v21/src/common"
)

// AuthorizedCardUsersApi service
type AuthorizedCardUsersApi common.Service

// All parameters accepted by AuthorizedCardUsersApi.PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDelete
type AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDeleteInput struct {
	paymentInstrumentId string
}


/*
Prepare a request for PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDelete
@param paymentInstrumentId
@return AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDeleteInput
*/
func (a *AuthorizedCardUsersApi) PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDeleteInput(paymentInstrumentId string) AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDeleteInput {
	return AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDeleteInput{
		paymentInstrumentId: paymentInstrumentId,
	}
}

/*
PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDelete Delete the authorized users for a card.

Deletes the list of authorized users assigned to a card.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDeleteInput - Request parameters, see PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDeleteInput
@return *http.Response, error
*/
func (a *AuthorizedCardUsersApi) PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDelete(ctx context.Context, r AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersDeleteInput) (*http.Response, error) {
    var res interface{}
	path := "/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers"
    path = strings.Replace(path, "{"+"paymentInstrumentId"+"}", url.PathEscape(common.ParameterValueToString(r.paymentInstrumentId, "paymentInstrumentId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        nil,
        res,
        http.MethodDelete,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }

    return httpRes, err
}


// All parameters accepted by AuthorizedCardUsersApi.PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGet
type AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGetInput struct {
	paymentInstrumentId string
}


/*
Prepare a request for PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGet
@param paymentInstrumentId
@return AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGetInput
*/
func (a *AuthorizedCardUsersApi) PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGetInput(paymentInstrumentId string) AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGetInput {
	return AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGetInput{
		paymentInstrumentId: paymentInstrumentId,
	}
}

/*
PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGet Get authorized users for a card.

Returns the authorized users for a card.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGetInput - Request parameters, see PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGetInput
@return AuthorisedCardUsers, *http.Response, error
*/
func (a *AuthorizedCardUsersApi) PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGet(ctx context.Context, r AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersGetInput) (AuthorisedCardUsers, *http.Response, error) {
    res := &AuthorisedCardUsers{}
	path := "/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers"
    path = strings.Replace(path, "{"+"paymentInstrumentId"+"}", url.PathEscape(common.ParameterValueToString(r.paymentInstrumentId, "paymentInstrumentId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        nil,
        res,
        http.MethodGet,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return *res, httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 404 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 422 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }

    return *res, httpRes, err
}


// All parameters accepted by AuthorizedCardUsersApi.PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatch
type AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatchInput struct {
	paymentInstrumentId string
	authorisedCardUsers *AuthorisedCardUsers
}

func (r AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatchInput) AuthorisedCardUsers(authorisedCardUsers AuthorisedCardUsers) AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatchInput {
	r.authorisedCardUsers = &authorisedCardUsers
	return r
}


/*
Prepare a request for PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatch
@param paymentInstrumentId
@return AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatchInput
*/
func (a *AuthorizedCardUsersApi) PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatchInput(paymentInstrumentId string) AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatchInput {
	return AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatchInput{
		paymentInstrumentId: paymentInstrumentId,
	}
}

/*
PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatch Update the authorized users for a card.

Updates the list of authorized users for a card.

>This request replaces all existing authorized users for the card.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatchInput - Request parameters, see PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatchInput
@return *http.Response, error
*/
func (a *AuthorizedCardUsersApi) PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatch(ctx context.Context, r AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPatchInput) (*http.Response, error) {
    var res interface{}
	path := "/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers"
    path = strings.Replace(path, "{"+"paymentInstrumentId"+"}", url.PathEscape(common.ParameterValueToString(r.paymentInstrumentId, "paymentInstrumentId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        r.authorisedCardUsers,
        res,
        http.MethodPatch,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 400 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 422 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }

    return httpRes, err
}


// All parameters accepted by AuthorizedCardUsersApi.PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPost
type AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPostInput struct {
	paymentInstrumentId string
	authorisedCardUsers *AuthorisedCardUsers
}

func (r AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPostInput) AuthorisedCardUsers(authorisedCardUsers AuthorisedCardUsers) AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPostInput {
	r.authorisedCardUsers = &authorisedCardUsers
	return r
}


/*
Prepare a request for PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPost
@param paymentInstrumentId
@return AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPostInput
*/
func (a *AuthorizedCardUsersApi) PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPostInput(paymentInstrumentId string) AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPostInput {
	return AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPostInput{
		paymentInstrumentId: paymentInstrumentId,
	}
}

/*
PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPost Create authorized users for a card.

Assigns authorized users to a card. Users must have the **authorisedPaymentInstrumentUser** capability to be able to use the card.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPostInput - Request parameters, see PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPostInput
@return *http.Response, error
*/
func (a *AuthorizedCardUsersApi) PaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPost(ctx context.Context, r AuthorizedCardUsersApiPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsersPostInput) (*http.Response, error) {
    var res interface{}
	path := "/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers"
    path = strings.Replace(path, "{"+"paymentInstrumentId"+"}", url.PathEscape(common.ParameterValueToString(r.paymentInstrumentId, "paymentInstrumentId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        r.authorisedCardUsers,
        res,
        http.MethodPost,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 400 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 422 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }

    return httpRes, err
}

