/*
Configuration API

API version: 2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package balanceplatform

import (
	"context"
    "net/http"
    "net/url"
    "strings"
    "github.com/adyen/adyen-go-api-library/v20/src/common"
)

// BalancesApi service
type BalancesApi common.Service

// All parameters accepted by BalancesApi.BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGet
type BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGetInput struct {
	balancePlatformId string
	webhookId string
}


/*
Prepare a request for BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGet
@param balancePlatformId The unique identifier of the balance platform.@param webhookId The unique identifier of the balance webhook.
@return BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGetInput
*/
func (a *BalancesApi) BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGetInput(balancePlatformId string, webhookId string) BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGetInput {
	return BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGetInput{
		balancePlatformId: balancePlatformId,
		webhookId: webhookId,
	}
}

/*
BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGet Get webhook settings

Returns all settings configured for triggering [balance webhooks](https://docs.adyen.com/api-explorer/balance-webhooks/latest/post/balancePlatform.balanceAccount.balance.updated).

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGetInput - Request parameters, see BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGetInput
@return []WebhookSettingResponse, *http.Response, error
*/
func (a *BalancesApi) BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGet(ctx context.Context, r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsGetInput) ([]WebhookSettingResponse, *http.Response, error) {
    res := &[]WebhookSettingResponse{}
	path := "/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings"
    path = strings.Replace(path, "{"+"balancePlatformId"+"}", url.PathEscape(common.ParameterValueToString(r.balancePlatformId, "balancePlatformId")), -1)
    path = strings.Replace(path, "{"+"webhookId"+"}", url.PathEscape(common.ParameterValueToString(r.webhookId, "webhookId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        nil,
        res,
        http.MethodGet,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return *res, httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 400 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 404 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 422 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 500 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }

    return *res, httpRes, err
}


// All parameters accepted by BalancesApi.BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPost
type BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPostInput struct {
	balancePlatformId string
	webhookId string
	balanceWebhookSettingsRequest *BalanceWebhookSettingsRequest
}

func (r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPostInput) BalanceWebhookSettingsRequest(balanceWebhookSettingsRequest BalanceWebhookSettingsRequest) BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPostInput {
	r.balanceWebhookSettingsRequest = &balanceWebhookSettingsRequest
	return r
}


/*
Prepare a request for BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPost
@param balancePlatformId The unique identifier of the balance platform.@param webhookId The unique identifier of the balance webhook.
@return BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPostInput
*/
func (a *BalancesApi) BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPostInput(balancePlatformId string, webhookId string) BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPostInput {
	return BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPostInput{
		balancePlatformId: balancePlatformId,
		webhookId: webhookId,
	}
}

/*
BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPost Create a balance webhook setting

Configures the criteria for triggering [balance webhooks](https://docs.adyen.com/api-explorer/balance-webhooks/1/post/balancePlatform.balanceAccount.balance.updated).

Adyen sends balance webhooks to notify you of balance changes in your balance platform. They can be triggered when the balance reaches, exceeds, or drops below a specific value in a specific currency.

You can get notified about balance changes in your entire balance platform, in the balance accounts of a specific user, or a specific balance account. The hierarchy between the webhook settings are based on the following business logic:

* Settings on a higher level apply to all lower level resources (balance platform > account holder > balance acocunt).

* The most granular setting overrides higher level settings (balance account > account holder > balance platform).

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPostInput - Request parameters, see BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPostInput
@return WebhookSettingResponse, *http.Response, error
*/
func (a *BalancesApi) BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPost(ctx context.Context, r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsPostInput) (WebhookSettingResponse, *http.Response, error) {
    res := &WebhookSettingResponse{}
	path := "/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings"
    path = strings.Replace(path, "{"+"balancePlatformId"+"}", url.PathEscape(common.ParameterValueToString(r.balancePlatformId, "balancePlatformId")), -1)
    path = strings.Replace(path, "{"+"webhookId"+"}", url.PathEscape(common.ParameterValueToString(r.webhookId, "webhookId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        r.balanceWebhookSettingsRequest,
        res,
        http.MethodPost,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return *res, httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 400 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 404 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 422 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 500 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }

    return *res, httpRes, err
}


// All parameters accepted by BalancesApi.BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDelete
type BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDeleteInput struct {
	balancePlatformId string
	webhookId string
	settingId string
}


/*
Prepare a request for BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDelete
@param balancePlatformId The unique identifier of the balance platform.@param webhookId The unique identifier of the balance webhook.@param settingId The unique identifier of the balance webhook setting.
@return BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDeleteInput
*/
func (a *BalancesApi) BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDeleteInput(balancePlatformId string, webhookId string, settingId string) BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDeleteInput {
	return BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDeleteInput{
		balancePlatformId: balancePlatformId,
		webhookId: webhookId,
		settingId: settingId,
	}
}

/*
BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDelete Delete a webhook setting

Deletes a setting that contains the conditions for triggering [balance webhooks](https://docs.adyen.com/api-explorer/balance-webhooks/latest/post/balancePlatform.balanceAccount.balance.updated).

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDeleteInput - Request parameters, see BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDeleteInput
@return *http.Response, error
*/
func (a *BalancesApi) BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDelete(ctx context.Context, r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdDeleteInput) (*http.Response, error) {
    var res interface{}
	path := "/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}"
    path = strings.Replace(path, "{"+"balancePlatformId"+"}", url.PathEscape(common.ParameterValueToString(r.balancePlatformId, "balancePlatformId")), -1)
    path = strings.Replace(path, "{"+"webhookId"+"}", url.PathEscape(common.ParameterValueToString(r.webhookId, "webhookId")), -1)
    path = strings.Replace(path, "{"+"settingId"+"}", url.PathEscape(common.ParameterValueToString(r.settingId, "settingId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        nil,
        res,
        http.MethodDelete,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 400 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 404 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 422 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }
                        if httpRes.StatusCode == 500 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return httpRes, decodeError
                            }
                            return httpRes, serviceError
                        }

    return httpRes, err
}


// All parameters accepted by BalancesApi.BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGet
type BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGetInput struct {
	balancePlatformId string
	webhookId string
	settingId string
}


/*
Prepare a request for BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGet
@param balancePlatformId The unique identifier of the balance platform.@param webhookId The unique identifier of the balance webhook.@param settingId The unique identifier of the balance webhook setting.
@return BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGetInput
*/
func (a *BalancesApi) BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGetInput(balancePlatformId string, webhookId string, settingId string) BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGetInput {
	return BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGetInput{
		balancePlatformId: balancePlatformId,
		webhookId: webhookId,
		settingId: settingId,
	}
}

/*
BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGet Get a webhook setting

Returns the details of a specific balance webhook setting configured for triggering [balance webhooks](https://docs.adyen.com/api-explorer/balance-webhooks/latest/post/balancePlatform.balanceAccount.balance.updated).

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGetInput - Request parameters, see BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGetInput
@return WebhookSettingResponse, *http.Response, error
*/
func (a *BalancesApi) BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGet(ctx context.Context, r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdGetInput) (WebhookSettingResponse, *http.Response, error) {
    res := &WebhookSettingResponse{}
	path := "/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}"
    path = strings.Replace(path, "{"+"balancePlatformId"+"}", url.PathEscape(common.ParameterValueToString(r.balancePlatformId, "balancePlatformId")), -1)
    path = strings.Replace(path, "{"+"webhookId"+"}", url.PathEscape(common.ParameterValueToString(r.webhookId, "webhookId")), -1)
    path = strings.Replace(path, "{"+"settingId"+"}", url.PathEscape(common.ParameterValueToString(r.settingId, "settingId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        nil,
        res,
        http.MethodGet,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return *res, httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 400 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 404 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 422 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 500 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }

    return *res, httpRes, err
}


// All parameters accepted by BalancesApi.BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatch
type BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatchInput struct {
	balancePlatformId string
	webhookId string
	settingId string
	patchableBalanceWebhookSettingsRequest *PatchableBalanceWebhookSettingsRequest
}

func (r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatchInput) PatchableBalanceWebhookSettingsRequest(patchableBalanceWebhookSettingsRequest PatchableBalanceWebhookSettingsRequest) BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatchInput {
	r.patchableBalanceWebhookSettingsRequest = &patchableBalanceWebhookSettingsRequest
	return r
}


/*
Prepare a request for BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatch
@param balancePlatformId The unique identifier of the balance platform.@param webhookId The unique identifier of the balance webhook.@param settingId The unique identifier of the balance webhook setting.
@return BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatchInput
*/
func (a *BalancesApi) BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatchInput(balancePlatformId string, webhookId string, settingId string) BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatchInput {
	return BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatchInput{
		balancePlatformId: balancePlatformId,
		webhookId: webhookId,
		settingId: settingId,
	}
}

/*
BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatch Update a webhook setting

Updates the conditions the balance change needs to meet for Adyen to send a [balance webhook](https://docs.adyen.com/api-explorer/balance-webhooks/latest/post/balancePlatform.balanceAccount.balance.updated).

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatchInput - Request parameters, see BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatchInput
@return WebhookSettingResponse, *http.Response, error
*/
func (a *BalancesApi) BalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatch(ctx context.Context, r BalancesApiBalancePlatformsBalancePlatformIdWebhooksWebhookIdSettingsSettingIdPatchInput) (WebhookSettingResponse, *http.Response, error) {
    res := &WebhookSettingResponse{}
	path := "/balancePlatforms/{balancePlatformId}/webhooks/{webhookId}/settings/{settingId}"
    path = strings.Replace(path, "{"+"balancePlatformId"+"}", url.PathEscape(common.ParameterValueToString(r.balancePlatformId, "balancePlatformId")), -1)
    path = strings.Replace(path, "{"+"webhookId"+"}", url.PathEscape(common.ParameterValueToString(r.webhookId, "webhookId")), -1)
    path = strings.Replace(path, "{"+"settingId"+"}", url.PathEscape(common.ParameterValueToString(r.settingId, "settingId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        r.patchableBalanceWebhookSettingsRequest,
        res,
        http.MethodPatch,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return *res, httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 400 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 404 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 422 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 500 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }

    return *res, httpRes, err
}

