/*
Configuration API

API version: 2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package balanceplatform

import (
	_context "context"
	_nethttp "net/http"
	"net/url"
	"strings"

	"github.com/adyen/adyen-go-api-library/v6/src/common"
)

// GrantOffersApi GrantOffersApi service
type GrantOffersApi common.Service

/*
Get all available grant offers
Returns a list of all [grant offers](https://docs.adyen.com/marketplaces-and-platforms/capital#grant-offers) available for &#x60;accountHolderId&#x60; specified as a query parameter.
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return GrantOffers
*/
func (a GrantOffersApi) GetAllAvailableGrantOffers(queryParams map[string]string, ctxs ..._context.Context) (GrantOffers, *_nethttp.Response, error) {
	res := &GrantOffers{}
	path := "/grantOffers"
	queryString := url.Values{}
	if _, ok := queryParams["accountHolderId"]; ok {
		queryString.Add("accountHolderId", queryParams["accountHolderId"])
	}
	httpRes, err := a.Client.MakeHTTPGetRequest(res, a.BasePath()+path+"?"+queryString.Encode(), ctxs...)
	return *res, httpRes, err
}

/*
Get a grant offer
Returns the details of a single grant offer.
 * @param grantOfferId The unique identifier of the grant offer.
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return GrantOffer
*/
func (a GrantOffersApi) GetGrantOffer(grantOfferId *string, ctxs ..._context.Context) (GrantOffer, *_nethttp.Response, error) {
	res := &GrantOffer{}
	path := "/grantOffers/{grantOfferId}"
	path = strings.ReplaceAll(path, "{"+"grantOfferId"+"}", *grantOfferId)
	httpRes, err := a.Client.MakeHTTPGetRequest(res, a.BasePath()+path, ctxs...)
	return *res, httpRes, err
}
