/*
Configuration API

API version: 2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package balanceplatform

import (
	"context"
    "net/http"
    "net/url"
    "strings"
    "github.com/adyen/adyen-go-api-library/v21/src/common"
)

// SCADeviceManagementApi service
type SCADeviceManagementApi common.Service

// All parameters accepted by SCADeviceManagementApi.BeginScaDeviceRegistration
type SCADeviceManagementApiBeginScaDeviceRegistrationInput struct {
	beginScaDeviceRegistrationRequest *BeginScaDeviceRegistrationRequest
}

func (r SCADeviceManagementApiBeginScaDeviceRegistrationInput) BeginScaDeviceRegistrationRequest(beginScaDeviceRegistrationRequest BeginScaDeviceRegistrationRequest) SCADeviceManagementApiBeginScaDeviceRegistrationInput {
	r.beginScaDeviceRegistrationRequest = &beginScaDeviceRegistrationRequest
	return r
}


/*
Prepare a request for BeginScaDeviceRegistration

@return SCADeviceManagementApiBeginScaDeviceRegistrationInput
*/
func (a *SCADeviceManagementApi) BeginScaDeviceRegistrationInput() SCADeviceManagementApiBeginScaDeviceRegistrationInput {
	return SCADeviceManagementApiBeginScaDeviceRegistrationInput{
	}
}

/*
BeginScaDeviceRegistration Begin SCA device registration

Begins the registration process for a new Strong Customer Authentication (SCA) device.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r SCADeviceManagementApiBeginScaDeviceRegistrationInput - Request parameters, see BeginScaDeviceRegistrationInput
@return BeginScaDeviceRegistrationResponse, *http.Response, error
*/
func (a *SCADeviceManagementApi) BeginScaDeviceRegistration(ctx context.Context, r SCADeviceManagementApiBeginScaDeviceRegistrationInput) (BeginScaDeviceRegistrationResponse, *http.Response, error) {
    res := &BeginScaDeviceRegistrationResponse{}
	path := "/scaDevices"
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        r.beginScaDeviceRegistrationRequest,
        res,
        http.MethodPost,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return *res, httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 400 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 422 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 500 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }

    return *res, httpRes, err
}


// All parameters accepted by SCADeviceManagementApi.FinishScaDeviceRegistration
type SCADeviceManagementApiFinishScaDeviceRegistrationInput struct {
	deviceId string
	finishScaDeviceRegistrationRequest *FinishScaDeviceRegistrationRequest
}

func (r SCADeviceManagementApiFinishScaDeviceRegistrationInput) FinishScaDeviceRegistrationRequest(finishScaDeviceRegistrationRequest FinishScaDeviceRegistrationRequest) SCADeviceManagementApiFinishScaDeviceRegistrationInput {
	r.finishScaDeviceRegistrationRequest = &finishScaDeviceRegistrationRequest
	return r
}


/*
Prepare a request for FinishScaDeviceRegistration
@param deviceId The unique identifier of the SCA device that you are associating with a resource.
@return SCADeviceManagementApiFinishScaDeviceRegistrationInput
*/
func (a *SCADeviceManagementApi) FinishScaDeviceRegistrationInput(deviceId string) SCADeviceManagementApiFinishScaDeviceRegistrationInput {
	return SCADeviceManagementApiFinishScaDeviceRegistrationInput{
		deviceId: deviceId,
	}
}

/*
FinishScaDeviceRegistration Finish registration process for a SCA device

Finishes the registration process for a new Strong Customer Authentication (SCA) device.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r SCADeviceManagementApiFinishScaDeviceRegistrationInput - Request parameters, see FinishScaDeviceRegistrationInput
@return FinishScaDeviceRegistrationResponse, *http.Response, error
*/
func (a *SCADeviceManagementApi) FinishScaDeviceRegistration(ctx context.Context, r SCADeviceManagementApiFinishScaDeviceRegistrationInput) (FinishScaDeviceRegistrationResponse, *http.Response, error) {
    res := &FinishScaDeviceRegistrationResponse{}
	path := "/scaDevices/{deviceId}"
    path = strings.Replace(path, "{"+"deviceId"+"}", url.PathEscape(common.ParameterValueToString(r.deviceId, "deviceId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        r.finishScaDeviceRegistrationRequest,
        res,
        http.MethodPatch,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return *res, httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 400 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 404 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 422 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 500 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }

    return *res, httpRes, err
}


// All parameters accepted by SCADeviceManagementApi.SubmitScaAssociation
type SCADeviceManagementApiSubmitScaAssociationInput struct {
	deviceId string
	submitScaAssociationRequest *SubmitScaAssociationRequest
}

func (r SCADeviceManagementApiSubmitScaAssociationInput) SubmitScaAssociationRequest(submitScaAssociationRequest SubmitScaAssociationRequest) SCADeviceManagementApiSubmitScaAssociationInput {
	r.submitScaAssociationRequest = &submitScaAssociationRequest
	return r
}


/*
Prepare a request for SubmitScaAssociation
@param deviceId The unique identifier of the SCA device that you are associating with a resource.
@return SCADeviceManagementApiSubmitScaAssociationInput
*/
func (a *SCADeviceManagementApi) SubmitScaAssociationInput(deviceId string) SCADeviceManagementApiSubmitScaAssociationInput {
	return SCADeviceManagementApiSubmitScaAssociationInput{
		deviceId: deviceId,
	}
}

/*
SubmitScaAssociation Create a new SCA association for a device

Creates an association between an SCA-enabled device and an entity, such as an account holder. This action does not guarantee the association is immediately ready for use; its status may be `pendingApproval` if the account holder has existing devices.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r SCADeviceManagementApiSubmitScaAssociationInput - Request parameters, see SubmitScaAssociationInput
@return SubmitScaAssociationResponse, *http.Response, error
*/
func (a *SCADeviceManagementApi) SubmitScaAssociation(ctx context.Context, r SCADeviceManagementApiSubmitScaAssociationInput) (SubmitScaAssociationResponse, *http.Response, error) {
    res := &SubmitScaAssociationResponse{}
	path := "/scaDevices/{deviceId}/scaAssociations"
    path = strings.Replace(path, "{"+"deviceId"+"}", url.PathEscape(common.ParameterValueToString(r.deviceId, "deviceId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        r.submitScaAssociationRequest,
        res,
        http.MethodPost,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )

    if httpRes == nil {
        return *res, httpRes, err
    }

    var serviceError common.RestServiceError
                        if httpRes.StatusCode == 400 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 401 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 403 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 404 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 422 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }
                        if httpRes.StatusCode == 500 {
                            body, _ := ioutil.ReadAll(httpRes.Body)
                            decodeError := json.Unmarshal([]byte(body), &serviceError)
                            if decodeError != nil {
                                return *res, httpRes, decodeError
                            }
                            return *res, httpRes, serviceError
                        }

    return *res, httpRes, err
}

