/*
 * Adyen Checkout API
 *
 * Adyen Checkout API provides a simple and flexible way to initiate and authorise online payments. You can use the same integration for payments made with cards (including 3D Secure), mobile wallets, and local payment methods (for example, iDEAL and Sofort).  This API reference provides information on available endpoints and how to interact with them. To learn more about the API, visit [online payments documentation](https://docs.adyen.com/online-payments).  ## Authentication Each request to Checkout API must be signed with an API key. For this, [get your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) from your Customer Area, and set this key to the `X-API-Key` header value, for example:  ``` curl -H \"Content-Type: application/json\" \\ -H \"X-API-Key: YOUR_API_KEY\" \\ ... ``` ## Versioning Checkout API supports [versioning](https://docs.adyen.com/development-resources/versioning) using a version suffix in the endpoint URL. This suffix has the following format: \"vXX\", where XX is the version number.  For example: ``` https://checkout-test.adyen.com/v70/payments ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area.  The live endpoint URLs contain a prefix which is unique to your company account, for example: ``` https://{PREFIX}-checkout-live.adyenpayments.com/checkout/v70/payments ```  Get your `{PREFIX}` from your live Customer Area under **Developers** > **API URLs** > **Prefix**.  When preparing to do live transactions with Checkout API, follow the [go-live checklist](https://docs.adyen.com/online-payments/go-live-checklist) to make sure you've got all the required configuration in place.  ## Release notes Have a look at the [release notes](https://docs.adyen.com/online-payments/release-notes?integration_type=api&version=70) to find out what changed in this version!
 *
 * API version: 70
 * Contact: developer-experience@adyen.com
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package checkout

import (
	_context "context"
	_nethttp "net/http"
	"strings"
)

/*
GetPaymentLinksLinkId Get a payment link
Retrieves the payment link details using the payment link &#x60;id&#x60;.
 * @param linkId Unique identifier of the payment link.
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return PaymentLinkResponse
*/
func (a Checkout) GetPaymentLink(linkId *string, ctxs ..._context.Context) (PaymentLinkResponse, *_nethttp.Response, error) {
	res := &PaymentLinkResponse{}

	path := "/paymentLinks/{linkId}"
	path = strings.ReplaceAll(path, "{"+"linkId"+"}", *linkId)

	httpRes, err := a.Client.MakeHTTPGetRequest(res, a.BasePath()+path, ctxs...)
	return *res, httpRes, err
}

/*
PatchPaymentLinksLinkId Update the status of a payment link
Updates the status of a payment link. Use this endpoint to [force the expiry of a payment link](https://docs.adyen.com/online-payments/pay-by-link#update-payment-link-status).
 * @param linkId Unique identifier of the payment link.
 * @param req UpdatePaymentLinkRequest - reference of UpdatePaymentLinkRequest).
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return PaymentLinkResponse
*/
func (a Checkout) UpdatePaymentLink(linkId *string, req *UpdatePaymentLinkRequest, ctxs ..._context.Context) (PaymentLinkResponse, *_nethttp.Response, error) {
	res := &PaymentLinkResponse{}

	path := "/paymentLinks/{linkId}"
	path = strings.ReplaceAll(path, "{"+"linkId"+"}", *linkId)

	httpRes, err := a.Client.MakeHTTPPatchRequest(req, res, a.BasePath()+path, ctxs...)
	return *res, httpRes, err
}

/*
PostPaymentLinks Create a payment link
Creates a payment link to our hosted payment form where shoppers can pay. The list of payment methods presented to the shopper depends on the &#x60;currency&#x60; and &#x60;country&#x60; parameters sent in the request.  For more information, refer to [Pay by Link documentation](https://docs.adyen.com/online-payments/pay-by-link#create-payment-links-through-api).
 * @param req CreatePaymentLinkRequest - reference of CreatePaymentLinkRequest).
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return PaymentLinkResponse
*/
func (a Checkout) CreatePaymentLink(req *CreatePaymentLinkRequest, ctxs ..._context.Context) (PaymentLinkResponse, *_nethttp.Response, error) {
	res := &PaymentLinkResponse{}

	path := "/paymentLinks"

	httpRes, err := a.Client.MakeHTTPPostRequest(req, res, a.BasePath()+path, ctxs...)
	return *res, httpRes, err
}
