/*
Adyen Checkout API

API version: 70
Contact: developer-experience@adyen.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package checkout

import (
	_context "context"
	_nethttp "net/http"
	"strings"
)

/*
GetPaymentLinksLinkId Get a payment link
Retrieves the payment link details using the payment link &#x60;id&#x60;.
 * @param linkId Unique identifier of the payment link.
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return PaymentLinkResponse
*/
func (a Checkout) GetPaymentLink(linkId *string, ctxs ..._context.Context) (PaymentLinkResponse, *_nethttp.Response, error) {
	res := &PaymentLinkResponse{}
	path := "/paymentLinks/{linkId}"
	path = strings.ReplaceAll(path, "{"+"linkId"+"}", *linkId)
	httpRes, err := a.Client.MakeHTTPGetRequest(res, a.BasePath()+path, ctxs...)
	return *res, httpRes, err
}

/*
PatchPaymentLinksLinkId Update the status of a payment link
Updates the status of a payment link. Use this endpoint to [force the expiry of a payment link](https://docs.adyen.com/online-payments/pay-by-link#update-payment-link-status).
 * @param linkId Unique identifier of the payment link.
 * @param req UpdatePaymentLinkRequest - reference of UpdatePaymentLinkRequest).
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return PaymentLinkResponse
*/
func (a Checkout) UpdatePaymentLink(linkId *string, req *UpdatePaymentLinkRequest, ctxs ..._context.Context) (PaymentLinkResponse, *_nethttp.Response, error) {
	res := &PaymentLinkResponse{}
	path := "/paymentLinks/{linkId}"
	path = strings.ReplaceAll(path, "{"+"linkId"+"}", *linkId)
	httpRes, err := a.Client.MakeHTTPPatchRequest(req, res, a.BasePath()+path, ctxs...)
	return *res, httpRes, err
}

/*
PostPaymentLinks Create a payment link
Creates a payment link to our hosted payment form where shoppers can pay. The list of payment methods presented to the shopper depends on the &#x60;currency&#x60; and &#x60;country&#x60; parameters sent in the request.  For more information, refer to [Pay by Link documentation](https://docs.adyen.com/online-payments/pay-by-link#create-payment-links-through-api).
 * @param req CreatePaymentLinkRequest - reference of CreatePaymentLinkRequest).
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return PaymentLinkResponse
*/
func (a Checkout) PaymentLinks(req *CreatePaymentLinkRequest, ctxs ..._context.Context) (PaymentLinkResponse, *_nethttp.Response, error) {
	res := &PaymentLinkResponse{}
	path := "/paymentLinks"
	httpRes, err := a.Client.MakeHTTPPostRequest(req, res, a.BasePath()+path, ctxs...)
	return *res, httpRes, err
}
