/*
Adyen Checkout API

API version: 71
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package checkout

import (
	"context"
	"net/http"
	"net/url"

	"github.com/adyen/adyen-go-api-library/v8/src/common"
)

// ClassicCheckoutSDKApi service
type ClassicCheckoutSDKApi common.Service

// All parameters accepted by ClassicCheckoutSDKApi.PaymentSession
type ClassicCheckoutSDKApiPaymentSessionInput struct {
	idempotencyKey      *string
	paymentSetupRequest *PaymentSetupRequest
}

// A unique identifier for the message with a maximum of 64 characters (we recommend a UUID).
func (r ClassicCheckoutSDKApiPaymentSessionInput) IdempotencyKey(idempotencyKey string) ClassicCheckoutSDKApiPaymentSessionInput {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ClassicCheckoutSDKApiPaymentSessionInput) PaymentSetupRequest(paymentSetupRequest PaymentSetupRequest) ClassicCheckoutSDKApiPaymentSessionInput {
	r.paymentSetupRequest = &paymentSetupRequest
	return r
}

/*
Prepare a request for PaymentSession

@return ClassicCheckoutSDKApiPaymentSessionInput

Deprecated
*/
func (a *ClassicCheckoutSDKApi) PaymentSessionInput() ClassicCheckoutSDKApiPaymentSessionInput {
	return ClassicCheckoutSDKApiPaymentSessionInput{}
}

/*
PaymentSession Create a payment session

Provides the data object that can be used to start the Checkout SDK. To set up the payment, pass its amount, currency, and other required parameters. We use this to optimise the payment flow and perform better risk assessment of the transaction.

For more information, refer to [How it works](https://docs.adyen.com/online-payments#howitworks).

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r ClassicCheckoutSDKApiPaymentSessionInput - Request parameters, see PaymentSessionInput
@return PaymentSetupResponse, *http.Response, error

    Deprecated
*/
func (a *ClassicCheckoutSDKApi) PaymentSession(ctx context.Context, r ClassicCheckoutSDKApiPaymentSessionInput) (PaymentSetupResponse, *http.Response, error) {
	res := &PaymentSetupResponse{}
	path := "/paymentSession"
	queryParams := url.Values{}
	headerParams := make(map[string]string)
	if r.idempotencyKey != nil {
		common.ParameterAddToHeaderOrQuery(headerParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	httpRes, err := common.SendAPIRequest(
		ctx,
		a.Client,
		r.paymentSetupRequest,
		res,
		http.MethodPost,
		a.BasePath()+path,
		queryParams,
		headerParams,
	)

	return *res, httpRes, err
}

// All parameters accepted by ClassicCheckoutSDKApi.VerifyPaymentResult
type ClassicCheckoutSDKApiVerifyPaymentResultInput struct {
	idempotencyKey             *string
	paymentVerificationRequest *PaymentVerificationRequest
}

// A unique identifier for the message with a maximum of 64 characters (we recommend a UUID).
func (r ClassicCheckoutSDKApiVerifyPaymentResultInput) IdempotencyKey(idempotencyKey string) ClassicCheckoutSDKApiVerifyPaymentResultInput {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ClassicCheckoutSDKApiVerifyPaymentResultInput) PaymentVerificationRequest(paymentVerificationRequest PaymentVerificationRequest) ClassicCheckoutSDKApiVerifyPaymentResultInput {
	r.paymentVerificationRequest = &paymentVerificationRequest
	return r
}

/*
Prepare a request for VerifyPaymentResult

@return ClassicCheckoutSDKApiVerifyPaymentResultInput

Deprecated
*/
func (a *ClassicCheckoutSDKApi) VerifyPaymentResultInput() ClassicCheckoutSDKApiVerifyPaymentResultInput {
	return ClassicCheckoutSDKApiVerifyPaymentResultInput{}
}

/*
VerifyPaymentResult Verify a payment result

Verifies the payment result using the payload returned from the Checkout SDK.

For more information, refer to [How it works](https://docs.adyen.com/online-payments#howitworks).

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r ClassicCheckoutSDKApiVerifyPaymentResultInput - Request parameters, see VerifyPaymentResultInput
@return PaymentVerificationResponse, *http.Response, error

    Deprecated
*/
func (a *ClassicCheckoutSDKApi) VerifyPaymentResult(ctx context.Context, r ClassicCheckoutSDKApiVerifyPaymentResultInput) (PaymentVerificationResponse, *http.Response, error) {
	res := &PaymentVerificationResponse{}
	path := "/payments/result"
	queryParams := url.Values{}
	headerParams := make(map[string]string)
	if r.idempotencyKey != nil {
		common.ParameterAddToHeaderOrQuery(headerParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	httpRes, err := common.SendAPIRequest(
		ctx,
		a.Client,
		r.paymentVerificationRequest,
		res,
		http.MethodPost,
		a.BasePath()+path,
		queryParams,
		headerParams,
	)

	return *res, httpRes, err
}
