/*
Foreign Exchange API

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package foreignexchange

import (
	"context"
	"net/http"
	"net/url"

	"github.com/adyen/adyen-go-api-library/v21/src/common"
)

// RatesApi service
type RatesApi common.Service

// All parameters accepted by RatesApi.Calculate
type RatesApiCalculateInput struct {
	calculateRateRequest *CalculateRateRequest
}

func (r RatesApiCalculateInput) CalculateRateRequest(calculateRateRequest CalculateRateRequest) RatesApiCalculateInput {
	r.calculateRateRequest = &calculateRateRequest
	return r
}

/*
Prepare a request for Calculate

@return RatesApiCalculateInput
*/
func (a *RatesApi) CalculateInput() RatesApiCalculateInput {
	return RatesApiCalculateInput{}
}

/*
Calculate Calculate amount in a different currency

Returns the calculated amounts and rates required to convert the currency of a transaction.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r RatesApiCalculateInput - Request parameters, see CalculateInput
@return CalculateRateResponse, *http.Response, error
*/
func (a *RatesApi) Calculate(ctx context.Context, r RatesApiCalculateInput) (CalculateRateResponse, *http.Response, error) {
	res := &CalculateRateResponse{}
	path := "/rates/calculate"
	queryParams := url.Values{}
	headerParams := make(map[string]string)
	httpRes, err := common.SendAPIRequest(
		ctx,
		a.Client,
		r.calculateRateRequest,
		res,
		http.MethodPost,
		a.BasePath()+path,
		queryParams,
		headerParams,
	)

	return *res, httpRes, err
}
