/*
Legal Entity Management API

API version: 3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package legalentity

import (
	"context"
	_context "context"
	_nethttp "net/http"
	"net/url"
	"strings"

	"github.com/adyen/adyen-go-api-library/v6/src/common"
)

// HostedOnboardingApi HostedOnboardingApi service
type HostedOnboardingApi common.Service

type HostedOnboardingApiGetLinkToAdyenhostedOnboardingPageConfig struct {
	ctx                context.Context
	id                 string
	onboardingLinkInfo *OnboardingLinkInfo
}

func (r HostedOnboardingApiGetLinkToAdyenhostedOnboardingPageConfig) OnboardingLinkInfo(onboardingLinkInfo OnboardingLinkInfo) HostedOnboardingApiGetLinkToAdyenhostedOnboardingPageConfig {
	r.onboardingLinkInfo = &onboardingLinkInfo
	return r
}

/*
GetLinkToAdyenhostedOnboardingPage Get a link to an Adyen-hosted onboarding page

Returns a link to an Adyen-hosted onboarding page where you need to redirect your user.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The unique identifier of the legal entity
 @return HostedOnboardingApiGetLinkToAdyenhostedOnboardingPageConfig
*/
func (a *HostedOnboardingApi) GetLinkToAdyenhostedOnboardingPageConfig(ctx context.Context, id string) HostedOnboardingApiGetLinkToAdyenhostedOnboardingPageConfig {
	return HostedOnboardingApiGetLinkToAdyenhostedOnboardingPageConfig{
		ctx: ctx,
		id:  id,
	}
}

/*
Get a link to an Adyen-hosted onboarding page
Returns a link to an Adyen-hosted onboarding page where you need to redirect your user.
 * @param id The unique identifier of the legal entity
 * @param req OnboardingLinkInfo - reference of OnboardingLinkInfo).
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return OnboardingLink
*/

func (a *HostedOnboardingApi) GetLinkToAdyenhostedOnboardingPage(r HostedOnboardingApiGetLinkToAdyenhostedOnboardingPageConfig) (OnboardingLink, *_nethttp.Response, error) {
	res := &OnboardingLink{}
	path := "/legalEntities/{id}/onboardingLinks"
	path = strings.Replace(path, "{"+"id"+"}", url.PathEscape(common.ParameterValueToString(r.id, "id")), -1)
	httpRes, err := common.CreateHTTPRequest(a.Client, _nethttp.MethodPost, r.onboardingLinkInfo, res, a.BasePath()+path, []_context.Context{r.ctx})
	return *res, httpRes, err
}

type HostedOnboardingApiGetOnboardingLinkThemeConfig struct {
	ctx context.Context
	id  string
}

/*
GetOnboardingLinkTheme Get an onboarding link theme

Returns the details of the theme identified in the path.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The unique identifier of the theme
 @return HostedOnboardingApiGetOnboardingLinkThemeConfig
*/
func (a *HostedOnboardingApi) GetOnboardingLinkThemeConfig(ctx context.Context, id string) HostedOnboardingApiGetOnboardingLinkThemeConfig {
	return HostedOnboardingApiGetOnboardingLinkThemeConfig{
		ctx: ctx,
		id:  id,
	}
}

/*
Get an onboarding link theme
Returns the details of the theme identified in the path.
 * @param id The unique identifier of the theme
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return OnboardingTheme
*/

func (a *HostedOnboardingApi) GetOnboardingLinkTheme(r HostedOnboardingApiGetOnboardingLinkThemeConfig) (OnboardingTheme, *_nethttp.Response, error) {
	res := &OnboardingTheme{}
	path := "/themes/{id}"
	path = strings.Replace(path, "{"+"id"+"}", url.PathEscape(common.ParameterValueToString(r.id, "id")), -1)
	httpRes, err := common.CreateHTTPRequest(a.Client, _nethttp.MethodGet, nil, res, a.BasePath()+path, []_context.Context{r.ctx})
	return *res, httpRes, err
}

type HostedOnboardingApiListHostedOnboardingPageThemesConfig struct {
	ctx context.Context
}

/*
ListHostedOnboardingPageThemes Get a list of hosted onboarding page themes

Returns a list of hosted onboarding page themes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return HostedOnboardingApiListHostedOnboardingPageThemesConfig
*/
func (a *HostedOnboardingApi) ListHostedOnboardingPageThemesConfig(ctx context.Context) HostedOnboardingApiListHostedOnboardingPageThemesConfig {
	return HostedOnboardingApiListHostedOnboardingPageThemesConfig{
		ctx: ctx,
	}
}

/*
Get a list of hosted onboarding page themes
Returns a list of hosted onboarding page themes.
 * @param ctxs ..._context.Context - optional, for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return OnboardingThemes
*/

func (a *HostedOnboardingApi) ListHostedOnboardingPageThemes(r HostedOnboardingApiListHostedOnboardingPageThemesConfig) (OnboardingThemes, *_nethttp.Response, error) {
	res := &OnboardingThemes{}
	path := "/themes"
	httpRes, err := common.CreateHTTPRequest(a.Client, _nethttp.MethodGet, nil, res, a.BasePath()+path, []_context.Context{r.ctx})
	return *res, httpRes, err
}
