/*
Capital API

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package capital

import (
	"context"
    "net/http"
    "net/url"
    "strings"
    "github.com/adyen/adyen-go-api-library/v21/src/common"
)

// GrantOffersApi service
type GrantOffersApi common.Service

// All parameters accepted by GrantOffersApi.GetAllGrantOffers
type GrantOffersApiGetAllGrantOffersInput struct {
	accountHolderId *string
}

// The unique identifier of the account holder for which you want to get the available grant offers.
func (r GrantOffersApiGetAllGrantOffersInput) AccountHolderId(accountHolderId string) GrantOffersApiGetAllGrantOffersInput {
	r.accountHolderId = &accountHolderId
	return r
}


/*
Prepare a request for GetAllGrantOffers

@return GrantOffersApiGetAllGrantOffersInput
*/
func (a *GrantOffersApi) GetAllGrantOffersInput() GrantOffersApiGetAllGrantOffersInput {
	return GrantOffersApiGetAllGrantOffersInput{
	}
}

/*
GetAllGrantOffers Get all available grant offers

Returns a list of all [grant offers](https://docs.adyen.com/platforms/capital#grant-offers) available for `accountHolderId` specified as a query parameter.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r GrantOffersApiGetAllGrantOffersInput - Request parameters, see GetAllGrantOffersInput
@return GrantOffers, *http.Response, error
*/
func (a *GrantOffersApi) GetAllGrantOffers(ctx context.Context, r GrantOffersApiGetAllGrantOffersInput) (GrantOffers, *http.Response, error) {
    res := &GrantOffers{}
	path := "/grantOffers"
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    if r.accountHolderId != nil {
        common.ParameterAddToQuery(queryParams, "accountHolderId", r.accountHolderId, "")
    }
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        nil,
        res,
        http.MethodGet,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )


    return *res, httpRes, err
}


// All parameters accepted by GrantOffersApi.GetGrantOffer
type GrantOffersApiGetGrantOfferInput struct {
	id string
}


/*
Prepare a request for GetGrantOffer
@param id The unique identifier of the grant offer.
@return GrantOffersApiGetGrantOfferInput
*/
func (a *GrantOffersApi) GetGrantOfferInput(id string) GrantOffersApiGetGrantOfferInput {
	return GrantOffersApiGetGrantOfferInput{
		id: id,
	}
}

/*
GetGrantOffer Get the details of a grant offer

Returns the details of the specified grant offer.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r GrantOffersApiGetGrantOfferInput - Request parameters, see GetGrantOfferInput
@return GrantOffer, *http.Response, error
*/
func (a *GrantOffersApi) GetGrantOffer(ctx context.Context, r GrantOffersApiGetGrantOfferInput) (GrantOffer, *http.Response, error) {
    res := &GrantOffer{}
	path := "/grantOffers/{id}"
    path = strings.Replace(path, "{"+"id"+"}", url.PathEscape(common.ParameterValueToString(r.id, "id")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        nil,
        res,
        http.MethodGet,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )


    return *res, httpRes, err
}

