/*
Capital API

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package capital

import (
	"context"
    "net/http"
    "net/url"
    "strings"
    "github.com/adyen/adyen-go-api-library/v21/src/common"
)

// GrantsApi service
type GrantsApi common.Service

// All parameters accepted by GrantsApi.GetAllGrantDisbursements
type GrantsApiGetAllGrantDisbursementsInput struct {
	grantId string
}


/*
Prepare a request for GetAllGrantDisbursements
@param grantId The unique identifier of the grant reference.
@return GrantsApiGetAllGrantDisbursementsInput
*/
func (a *GrantsApi) GetAllGrantDisbursementsInput(grantId string) GrantsApiGetAllGrantDisbursementsInput {
	return GrantsApiGetAllGrantDisbursementsInput{
		grantId: grantId,
	}
}

/*
GetAllGrantDisbursements Get all the disbursements of a grant

Returns the disbursements of a specified grant.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r GrantsApiGetAllGrantDisbursementsInput - Request parameters, see GetAllGrantDisbursementsInput
@return Disbursements, *http.Response, error
*/
func (a *GrantsApi) GetAllGrantDisbursements(ctx context.Context, r GrantsApiGetAllGrantDisbursementsInput) (Disbursements, *http.Response, error) {
    res := &Disbursements{}
	path := "/grants/{grantId}/disbursements"
    path = strings.Replace(path, "{"+"grantId"+"}", url.PathEscape(common.ParameterValueToString(r.grantId, "grantId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        nil,
        res,
        http.MethodGet,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )


    return *res, httpRes, err
}


// All parameters accepted by GrantsApi.GetAllGrants
type GrantsApiGetAllGrantsInput struct {
	counterpartyAccountHolderId *string
}

// The unique identifier of the account holder that received the grants.
func (r GrantsApiGetAllGrantsInput) CounterpartyAccountHolderId(counterpartyAccountHolderId string) GrantsApiGetAllGrantsInput {
	r.counterpartyAccountHolderId = &counterpartyAccountHolderId
	return r
}


/*
Prepare a request for GetAllGrants

@return GrantsApiGetAllGrantsInput
*/
func (a *GrantsApi) GetAllGrantsInput() GrantsApiGetAllGrantsInput {
	return GrantsApiGetAllGrantsInput{
	}
}

/*
GetAllGrants Get all the grants of an account holder

Returns a list of all the grants of a specific account holder.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r GrantsApiGetAllGrantsInput - Request parameters, see GetAllGrantsInput
@return Grants, *http.Response, error
*/
func (a *GrantsApi) GetAllGrants(ctx context.Context, r GrantsApiGetAllGrantsInput) (Grants, *http.Response, error) {
    res := &Grants{}
	path := "/grants"
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    if r.counterpartyAccountHolderId != nil {
        common.ParameterAddToQuery(queryParams, "counterpartyAccountHolderId", r.counterpartyAccountHolderId, "")
    }
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        nil,
        res,
        http.MethodGet,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )


    return *res, httpRes, err
}


// All parameters accepted by GrantsApi.GetGrant
type GrantsApiGetGrantInput struct {
	grantId string
}


/*
Prepare a request for GetGrant
@param grantId The unique identifier of the grant reference.
@return GrantsApiGetGrantInput
*/
func (a *GrantsApi) GetGrantInput(grantId string) GrantsApiGetGrantInput {
	return GrantsApiGetGrantInput{
		grantId: grantId,
	}
}

/*
GetGrant Get the details of a grant

Returns the details of the specified grant.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r GrantsApiGetGrantInput - Request parameters, see GetGrantInput
@return Grant, *http.Response, error
*/
func (a *GrantsApi) GetGrant(ctx context.Context, r GrantsApiGetGrantInput) (Grant, *http.Response, error) {
    res := &Grant{}
	path := "/grants/{grantId}"
    path = strings.Replace(path, "{"+"grantId"+"}", url.PathEscape(common.ParameterValueToString(r.grantId, "grantId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        nil,
        res,
        http.MethodGet,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )


    return *res, httpRes, err
}


// All parameters accepted by GrantsApi.GetGrantDisbursement
type GrantsApiGetGrantDisbursementInput struct {
	grantId string
	disbursementId string
}


/*
Prepare a request for GetGrantDisbursement
@param grantId The unique identifier of the grant reference.@param disbursementId The unique identifier of the disbursement.
@return GrantsApiGetGrantDisbursementInput
*/
func (a *GrantsApi) GetGrantDisbursementInput(grantId string, disbursementId string) GrantsApiGetGrantDisbursementInput {
	return GrantsApiGetGrantDisbursementInput{
		grantId: grantId,
		disbursementId: disbursementId,
	}
}

/*
GetGrantDisbursement Get disbursement details

Returns the details of a disbursement specified in the path.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r GrantsApiGetGrantDisbursementInput - Request parameters, see GetGrantDisbursementInput
@return Disbursement, *http.Response, error
*/
func (a *GrantsApi) GetGrantDisbursement(ctx context.Context, r GrantsApiGetGrantDisbursementInput) (Disbursement, *http.Response, error) {
    res := &Disbursement{}
	path := "/grants/{grantId}/disbursements/{disbursementId}"
    path = strings.Replace(path, "{"+"grantId"+"}", url.PathEscape(common.ParameterValueToString(r.grantId, "grantId")), -1)
    path = strings.Replace(path, "{"+"disbursementId"+"}", url.PathEscape(common.ParameterValueToString(r.disbursementId, "disbursementId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        nil,
        res,
        http.MethodGet,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )


    return *res, httpRes, err
}


// All parameters accepted by GrantsApi.RequestGrant
type GrantsApiRequestGrantInput struct {
	grantInfo *GrantInfo
}

func (r GrantsApiRequestGrantInput) GrantInfo(grantInfo GrantInfo) GrantsApiRequestGrantInput {
	r.grantInfo = &grantInfo
	return r
}


/*
Prepare a request for RequestGrant

@return GrantsApiRequestGrantInput
*/
func (a *GrantsApi) RequestGrantInput() GrantsApiRequestGrantInput {
	return GrantsApiRequestGrantInput{
	}
}

/*
RequestGrant Make a request for a grant

Make a request for a grant on behalf of an account holder.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r GrantsApiRequestGrantInput - Request parameters, see RequestGrantInput
@return Grant, *http.Response, error
*/
func (a *GrantsApi) RequestGrant(ctx context.Context, r GrantsApiRequestGrantInput) (Grant, *http.Response, error) {
    res := &Grant{}
	path := "/grants"
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        r.grantInfo,
        res,
        http.MethodPost,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )


    return *res, httpRes, err
}


// All parameters accepted by GrantsApi.UpdateGrantDisbursement
type GrantsApiUpdateGrantDisbursementInput struct {
	grantId string
	disbursementId string
	disbursementInfoUpdate *DisbursementInfoUpdate
}

func (r GrantsApiUpdateGrantDisbursementInput) DisbursementInfoUpdate(disbursementInfoUpdate DisbursementInfoUpdate) GrantsApiUpdateGrantDisbursementInput {
	r.disbursementInfoUpdate = &disbursementInfoUpdate
	return r
}


/*
Prepare a request for UpdateGrantDisbursement
@param grantId The unique identifier of the grant reference.@param disbursementId The unique identifier of the disbursement.
@return GrantsApiUpdateGrantDisbursementInput
*/
func (a *GrantsApi) UpdateGrantDisbursementInput(grantId string, disbursementId string) GrantsApiUpdateGrantDisbursementInput {
	return GrantsApiUpdateGrantDisbursementInput{
		grantId: grantId,
		disbursementId: disbursementId,
	}
}

/*
UpdateGrantDisbursement Update the repayment configuration of a disbursement

Update the percentage of your user's net income that is deducted for repaying the grant.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r GrantsApiUpdateGrantDisbursementInput - Request parameters, see UpdateGrantDisbursementInput
@return Disbursement, *http.Response, error
*/
func (a *GrantsApi) UpdateGrantDisbursement(ctx context.Context, r GrantsApiUpdateGrantDisbursementInput) (Disbursement, *http.Response, error) {
    res := &Disbursement{}
	path := "/grants/{grantId}/disbursements/{disbursementId}"
    path = strings.Replace(path, "{"+"grantId"+"}", url.PathEscape(common.ParameterValueToString(r.grantId, "grantId")), -1)
    path = strings.Replace(path, "{"+"disbursementId"+"}", url.PathEscape(common.ParameterValueToString(r.disbursementId, "disbursementId")), -1)
    queryParams := url.Values{}
    headerParams := make(map[string]string)
    httpRes, err := common.SendAPIRequest(
        ctx,
        a.Client,
        r.disbursementInfoUpdate,
        res,
        http.MethodPatch,
        a.BasePath()+path,
        queryParams,
        headerParams,
    )


    return *res, httpRes, err
}

