/*
Capital API

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package capital

import (
	"context"
	"net/http"
	"net/url"
	"strings"

	"github.com/adyen/adyen-go-api-library/v21/src/common"
)

// GrantAccountsApi service
type GrantAccountsApi common.Service

// All parameters accepted by GrantAccountsApi.GetGrantAccountInformation
type GrantAccountsApiGetGrantAccountInformationInput struct {
	id string
}

/*
Prepare a request for GetGrantAccountInformation
@param id The unique identifier of the grant account.
@return GrantAccountsApiGetGrantAccountInformationInput
*/
func (a *GrantAccountsApi) GetGrantAccountInformationInput(id string) GrantAccountsApiGetGrantAccountInformationInput {
	return GrantAccountsApiGetGrantAccountInformationInput{
		id: id,
	}
}

/*
GetGrantAccountInformation Get the information of your grant account

Returns the details of the specified grant account. This account tracks existing grants in your marketplace or platform.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r GrantAccountsApiGetGrantAccountInformationInput - Request parameters, see GetGrantAccountInformationInput
@return GrantAccount, *http.Response, error
*/
func (a *GrantAccountsApi) GetGrantAccountInformation(ctx context.Context, r GrantAccountsApiGetGrantAccountInformationInput) (GrantAccount, *http.Response, error) {
	res := &GrantAccount{}
	path := "/grantAccounts/{id}"
	path = strings.Replace(path, "{"+"id"+"}", url.PathEscape(common.ParameterValueToString(r.id, "id")), -1)
	queryParams := url.Values{}
	headerParams := make(map[string]string)
	httpRes, err := common.SendAPIRequest(
		ctx,
		a.Client,
		nil,
		res,
		http.MethodGet,
		a.BasePath()+path,
		queryParams,
		headerParams,
	)

	return *res, httpRes, err
}
