/*
Capital API

API version: 1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package capital

import (
	"context"
	"net/http"
	"net/url"
	"strings"

	"github.com/adyen/adyen-go-api-library/v21/src/common"
)

// DynamicOffersApi service
type DynamicOffersApi common.Service

// All parameters accepted by DynamicOffersApi.CalculatePreliminaryOfferFromDynamicOffer
type DynamicOffersApiCalculatePreliminaryOfferFromDynamicOfferInput struct {
	id                         string
	calculateGrantOfferRequest *CalculateGrantOfferRequest
}

func (r DynamicOffersApiCalculatePreliminaryOfferFromDynamicOfferInput) CalculateGrantOfferRequest(calculateGrantOfferRequest CalculateGrantOfferRequest) DynamicOffersApiCalculatePreliminaryOfferFromDynamicOfferInput {
	r.calculateGrantOfferRequest = &calculateGrantOfferRequest
	return r
}

/*
Prepare a request for CalculatePreliminaryOfferFromDynamicOffer
@param id The unique identifier of the dynamic offer from which the user selected the financing amount.
@return DynamicOffersApiCalculatePreliminaryOfferFromDynamicOfferInput
*/
func (a *DynamicOffersApi) CalculatePreliminaryOfferFromDynamicOfferInput(id string) DynamicOffersApiCalculatePreliminaryOfferFromDynamicOfferInput {
	return DynamicOffersApiCalculatePreliminaryOfferFromDynamicOfferInput{
		id: id,
	}
}

/*
CalculatePreliminaryOfferFromDynamicOffer Calculate a preliminary offer for a selected financing amount

Calculates a preliminary offer for the financing amount that the user selected from a [dynamic offer](https://docs.adyen.com/capital/get-grant-offers/dynamic-offers/). The preliminary offer is for informational purposes only and cannot be used to initiate a grant.

Requests to this endpoint are subject to rate limits:

- Live environments: 120 requests per minute.

- Test environments: 120 requests per minute.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r DynamicOffersApiCalculatePreliminaryOfferFromDynamicOfferInput - Request parameters, see CalculatePreliminaryOfferFromDynamicOfferInput
@return CalculatedGrantOffer, *http.Response, error
*/
func (a *DynamicOffersApi) CalculatePreliminaryOfferFromDynamicOffer(ctx context.Context, r DynamicOffersApiCalculatePreliminaryOfferFromDynamicOfferInput) (CalculatedGrantOffer, *http.Response, error) {
	res := &CalculatedGrantOffer{}
	path := "/dynamicOffers/{id}/calculate"
	path = strings.Replace(path, "{"+"id"+"}", url.PathEscape(common.ParameterValueToString(r.id, "id")), -1)
	queryParams := url.Values{}
	headerParams := make(map[string]string)
	httpRes, err := common.SendAPIRequest(
		ctx,
		a.Client,
		r.calculateGrantOfferRequest,
		res,
		http.MethodPost,
		a.BasePath()+path,
		queryParams,
		headerParams,
	)

	return *res, httpRes, err
}

// All parameters accepted by DynamicOffersApi.CreateStaticOfferFromDynamicOffer
type DynamicOffersApiCreateStaticOfferFromDynamicOfferInput struct {
	id                      string
	createGrantOfferRequest *CreateGrantOfferRequest
}

func (r DynamicOffersApiCreateStaticOfferFromDynamicOfferInput) CreateGrantOfferRequest(createGrantOfferRequest CreateGrantOfferRequest) DynamicOffersApiCreateStaticOfferFromDynamicOfferInput {
	r.createGrantOfferRequest = &createGrantOfferRequest
	return r
}

/*
Prepare a request for CreateStaticOfferFromDynamicOffer
@param id The unique identifier of the dynamic offer from which the user selected the financing amount.
@return DynamicOffersApiCreateStaticOfferFromDynamicOfferInput
*/
func (a *DynamicOffersApi) CreateStaticOfferFromDynamicOfferInput(id string) DynamicOffersApiCreateStaticOfferFromDynamicOfferInput {
	return DynamicOffersApiCreateStaticOfferFromDynamicOfferInput{
		id: id,
	}
}

/*
CreateStaticOfferFromDynamicOffer Create a static offer for a selected financing amount

Creates a static offer for the financing amount that the user selected from the [dynamic offer](https://docs.adyen.com/capital/get-grant-offers/dynamic-offers/).

Requests to this endpoint are subject to rate limits:

- Live environments: 30 requests per minute.

- Test environments: 30 requests per minute.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r DynamicOffersApiCreateStaticOfferFromDynamicOfferInput - Request parameters, see CreateStaticOfferFromDynamicOfferInput
@return GrantOffer, *http.Response, error
*/
func (a *DynamicOffersApi) CreateStaticOfferFromDynamicOffer(ctx context.Context, r DynamicOffersApiCreateStaticOfferFromDynamicOfferInput) (GrantOffer, *http.Response, error) {
	res := &GrantOffer{}
	path := "/dynamicOffers/{id}/grantOffer"
	path = strings.Replace(path, "{"+"id"+"}", url.PathEscape(common.ParameterValueToString(r.id, "id")), -1)
	queryParams := url.Values{}
	headerParams := make(map[string]string)
	httpRes, err := common.SendAPIRequest(
		ctx,
		a.Client,
		r.createGrantOfferRequest,
		res,
		http.MethodPost,
		a.BasePath()+path,
		queryParams,
		headerParams,
	)

	return *res, httpRes, err
}

// All parameters accepted by DynamicOffersApi.GetAllDynamicOffers
type DynamicOffersApiGetAllDynamicOffersInput struct {
	accountHolderId *string
	financingType   *FinancingType
}

// The unique identifier of the account holder that the dynamic offer is for.
func (r DynamicOffersApiGetAllDynamicOffersInput) AccountHolderId(accountHolderId string) DynamicOffersApiGetAllDynamicOffersInput {
	r.accountHolderId = &accountHolderId
	return r
}

// The type of financing that the offer is for. If the value is not specified, returns all available types.  Possible values: **businessFinancing**
func (r DynamicOffersApiGetAllDynamicOffersInput) FinancingType(financingType FinancingType) DynamicOffersApiGetAllDynamicOffersInput {
	r.financingType = &financingType
	return r
}

/*
Prepare a request for GetAllDynamicOffers

@return DynamicOffersApiGetAllDynamicOffersInput
*/
func (a *DynamicOffersApi) GetAllDynamicOffersInput() DynamicOffersApiGetAllDynamicOffersInput {
	return DynamicOffersApiGetAllDynamicOffersInput{}
}

/*
GetAllDynamicOffers Get all available dynamic offers

Returns a list of all [dynamic offers](https://docs.adyen.com/capital/get-grant-offers/dynamic-offers/) available for `accountHolderId` specified as a query parameter.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param r DynamicOffersApiGetAllDynamicOffersInput - Request parameters, see GetAllDynamicOffersInput
@return GetDynamicOffersResponse, *http.Response, error
*/
func (a *DynamicOffersApi) GetAllDynamicOffers(ctx context.Context, r DynamicOffersApiGetAllDynamicOffersInput) (GetDynamicOffersResponse, *http.Response, error) {
	res := &GetDynamicOffersResponse{}
	path := "/dynamicOffers"
	queryParams := url.Values{}
	headerParams := make(map[string]string)
	if r.accountHolderId != nil {
		common.ParameterAddToQuery(queryParams, "accountHolderId", r.accountHolderId, "")
	}
	if r.financingType != nil {
		common.ParameterAddToQuery(queryParams, "financingType", r.financingType, "")
	}
	httpRes, err := common.SendAPIRequest(
		ctx,
		a.Client,
		nil,
		res,
		http.MethodGet,
		a.BasePath()+path,
		queryParams,
		headerParams,
	)

	return *res, httpRes, err
}
