name: Format and Commit Go Code

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
          ref: ${{ github.ref }}

      - name: Format Go Code
        uses: ./.github/actions/format
        with:
          path: .

      - name: Configure Git
        run: |
            git config user.name AdyenAutomationBot
            git config user.email "${{ secrets.ADYEN_AUTOMATION_BOT_EMAIL }}"

      - name: Commit and Push Changes
        run: |
            git add .
            if git diff --staged --quiet; then
              echo "No changes to commit"
            else
              git commit -m "style(fmt): code formatted"
              git push
            fi