name: Go Format

on:
    push:
        branches:
            - 'sdk-automation/**'

jobs:
    format:
        if: ${{ github.event.commits != null && !startsWith(github.event.head_commit.message, 'style(fmt)') }}
        permissions:
            contents: write
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
              with:
                  token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}

            - name: Log Commit Details
              run: |
                  echo "github.event.size: ${{ github.event.size }}"
                  echo "github.event.commits: ${{ github.event.commits }}"

            - name: Setup Go
              uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5
              with:
                  go-version: 1.23

            - name: Format Code
              run: make fmt

            - name: Configure Git
              run: |
                  git config user.name AdyenAutomationBot
                  git config user.email "${{ secrets.ADYEN_AUTOMATION_BOT_EMAIL }}"

            - name: Commit and Push Changes
              run: |
                  git add .
                  git commit -m "style(fmt): code formatted"
                  git push
