name: Go Format

on:
    push:
        branches:
            - 'sdk-automation/**'

jobs:
    format:
        if: ${{ github.event.commits != null && !startsWith(github.event.head_commit.message, 'style(fmt)') }}
        permissions:
            contents: write
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
              with:
                  token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}

            - name: Log Commit Details
              run: |
                  echo "github.event.size: ${{ github.event.size }}"
                  echo "github.event.commits: ${{ github.event.commits }}"

            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                  go-version: 1.23

            - name: Format Code
              run: make fmt

            - name: Configure Git
              run: |
                  git config user.name AdyenAutomationBot
                  git config user.email "${{ secrets.ADYEN_AUTOMATION_BOT_EMAIL }}"

            - name: Commit and Push Changes
              run: |
                  git add .
                  git commit -m "style(fmt): code formatted"
                  git push
