name: Go CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
            - sdk-automation/models
            - promote/main
    workflow_dispatch: {}

jobs:
    go-test:
        name: Build and Test
        runs-on: ubuntu-latest

        strategy:
            matrix:
                go-version: ['1.23', '1.24']

        steps:
            - name: Checkout code
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

            - name: Set up Go
              uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5
              with:
                  go-version: ${{ matrix.go-version }}

            - name: Clean module cache directory
              run: sudo rm -rf ~/go/pkg/mod

            - name: Cache Go modules
              uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4
              with:
                  path: |
                      ~/.cache/go-build
                      ~/go/pkg/mod
                  key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
                  restore-keys: |
                      ${{ runner.os }}-go-

            - name: Download dependencies
              run: go mod download

            - name: Build
              run: go build -v .

            - name: Run tests
              run: go test -v ./... -tags unit

    release-integration-test:
        name: Release Integration Tests
        runs-on: ubuntu-latest
        needs: go-test
        if: |
            github.event_name == 'pull_request' &&
            contains(github.event.pull_request.labels.*.name, 'release') &&
            github.event.pull_request.head.repo.full_name == github.repository

        steps:
            - name: Checkout code
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

            - name: Set up Go
              uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5
              with:
                  go-version: '1.23'

            - name: Clean module cache directory
              run: sudo rm -rf ~/go/pkg/mod

            - name: Cache Go modules
              uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4
              with:
                  path: |
                      ~/.cache/go-build
                      ~/go/pkg/mod
                  key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
                  restore-keys: |
                      ${{ runner.os }}-go-

            - name: Download dependencies
              run: go mod download

            - name: Run Integration Tests
              run: go test -v ./... -tags integration
              env:
                  ADYEN_API_KEY: ${{ secrets.ADYEN_API_KEY }}
                  ADYEN_MERCHANT: ${{ secrets.ADYEN_MERCHANT }}
                  ADYEN_PASSWORD: ${{ secrets.ADYEN_PASSWORD }}
                  ADYEN_REVIEWPAYOUT_APIKEY: ${{ secrets.ADYEN_REVIEWPAYOUT_APIKEY }}
                  ADYEN_REVIEWPAYOUT_PASSWORD: ${{ secrets.ADYENREVIEWPAYOUT_PASSWORD }}
                  ADYEN_REVIEWPAYOUT_USER: ${{ secrets.ADYENREVIEWPAYOUT_USER }}
                  ADYEN_STOREPAYOUT_APIKEY: ${{ secrets.ADYEN_STOREPAYOUT_APIKEY }}
                  ADYEN_STOREPAYOUT_PASSWORD: ${{ secrets.ADYEN_STOREPAYOUT_PASSWORD }}
                  ADYEN_STOREPAYOUT_USER: ${{ secrets.ADYEN_STOREPAYOUT_USER }}
                  ADYEN_USER: ${{ secrets.ADYEN_USER }}
                  ADYEN_MARKETPLACE_USER: ${{ secrets.ADYEN_MARKETPLACE_USER }}
                  ADYEN_MARKETPLACE_PASSWORD: ${{ secrets.ADYEN_MARKETPLACE_PASSWORD }}
